/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

// .home .hero img
//   max-width 450px!important

html, body, #app, .navbar, .sidebar
  background-color: #011622

#app > .theme-container > .navbar > .links
  background-color: #011622

#app > .theme-container > .navbar > .links input
  background-color: #011622